/* common css */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ============================= social link Part css Start ========================= */

#social-links {
    padding-top: 11px;
    padding-bottom: 10px;
    background: #0872b9;
}

#social-links .welcome-text {
    width: 20%;
    float: left;
}

#social-links .social-icons {
    width: 80%;
    float: left;
    text-align: right;
}

#social-links .welcome-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #e7e7e7;
}


#social-links .social-icons i {
    color: #fff;
    padding-left: 25px;
    transition: 0.4s;
    cursor: pointer;
}

#social-links .social-icons i:hover {
    color: #2c4760;
}

/* ============================== Navbar Part css Start =============================== */

#navbar .logo {
    width: 20%;
    float: left;
    padding-top: 20px;
}

#navbar .menu {
    width: 80%;
    float: left;
    text-align: right;
}

#navbar .menu ul li {
    display: inline-block;
    padding-left: 14px;
}

#navbar .menu ul li a {
    color: #222;
    font-size: 14px;
    line-height: 80px;
    transition: 0.4s;
}

#navbar .menu ul li a:hover {
    color: #0872b9;
}

/* ========================= banner Part css Start ======================== */

#banner {
    background: url(../images/bannner.jpg) no-repeat center;
    background-size: cover;
    padding-top: 88px;
    padding-bottom: 88px;
    position: relative;
}

#banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#banner .banner-text {
    position: relative;
    z-index: 99;
    text-align: right;
}

#banner .banner-text h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

#banner .banner-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

#banner .banner-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
    padding-left: 700px;
    padding-bottom: 18px;
}

#banner .banner-text a {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 9px 16px;
    margin-left: 20px;
    transition: 0.4s;
}

#banner .banner-text a:hover {
    background: #0872b9;
    border: 1px solid #0872b9;
}

/* ================================ About Part css Start =============================== */

#about {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.common-head h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #353535;
    text-transform: uppercase;
    
}

.common-head{
    position: relative;
    display: inline-block;
}

.common-head img {
    position: absolute;
    left: 0;
    bottom: 0;
}

#about .about-img {
    width: 380px;
    float: left;
    margin-right: 20px;
}

#about .about-img img {
    width: 100%;
}

#about .about-text {
    width: 770px;
    float: left;
    text-align: left;
}

#about .about-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #555555;
    padding-top: 25px;
}


/*  ========================= Service Part css Start ========================== */

#service {
    padding-bottom: 60px;
    text-align: center;
}

#service .service-head {
    margin-bottom: 70px;
}

#service .service-item {
    width: 376px;
    float: left;
    margin-right: 20px;
    background: #f1f1f1;
    text-align: center;
    position: relative;
    transition: all linear 0.4s;
}

#service .service-item:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#service .service-item:hover .service-icon {
    background: #5bc5f4;
}


#service .service-item h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    padding-top: 40px;
}

#service .service-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555555;
    line-height: 24px;
    padding: 20px;
}

#service .service-icon {
    width: 68px;
    height: 68px;
    line-height: 68px;
    background: #f1f1f1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all linear 0.4s;
}

#service .service-icon::before {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    transition: all linear 0.4s;
}

#service .service-item:hover .service-icon::before {
    border: 1px solid #5bc5f4;
}

#service .service-icon::after {
    position: absolute;
    content: '';
    width: 72px;
    height: 72px;
    border: 4px solid #fff;
    left: -8px;
    top: -8px;
    border-radius: 50%;
}

#service .service-item:nth-child(3) {
    margin-right: 0;
}

/* ======================= Portfolio part css start ======================== */

#portfolio {
    padding-bottom: 60px;
    text-align: center;
}

#portfolio .portfoli-head {
    margin-bottom: 20px;
}

#portfolio .port-item {
    width: 277px;
    float: left;
    margin-right: 20px;
}

#portfolio .port-img img {
    width: 100%;
}

#portfolio .port-img {
    position: relative;
    margin-bottom: 20px;
}

#portfolio .port-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all linear 0.4s;
}

#portfolio .port-img:hover .port-overlay {
    opacity: 1;
    width: 100%;
}

#portfolio .port-overlay .port-icon {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

#portfolio .port-overlay .port-icon i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #5bc5f4;
    border-radius: 50%;
    color: #fff;
}

#portfolio .port-item:nth-child(4) {
    margin-right: 0;
}

#team {
    padding-bottom: 60px;
    text-align: center;
    text-align: center;
}

#team .team-head{
    margin-bottom: 20px;
}

#team .team-item {
    width: 277px;
    float: left;
    margin-right: 20px;
}

#team .team-img img {
    width: 100%;
}

#team .team-text {
    text-align: center;
}

#team .team-text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    text-transform: uppercase;
    padding-top: 2px;
    transition: all linear 0.4s;
}

#team .team-text h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #555555;
}

#team .team-img{
    position: relative;
}

#team .team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all linear 0.3s;
    cursor: pointer;
}

#team .team-item:hover .team-overlay{
    opacity: 1;
    width: 80px;
}

#team .team-item:hover .team-text h3{
    color: #5bc5f4;
}

#team .team-overlay .team-icon{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#team .team-overlay .team-icon i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    /* background: #5bc5f4; */
    margin-bottom: 10px;
    border: 1px solid #fff;
    transition: all linear 0.3s;
}

#team .team-overlay .team-icon i:hover{
    background: #5bc5f4;
    border: 1px solid #5bc5f4;
}

#team .team-item:nth-child(4){
    margin-right: 0;
}

/* =================== Testimonial Part css Start ======================== */

#testimonial {
    text-align: center;
    padding-bottom: 60px;
}

#testimonial .test-head {
    margin-bottom: 30px;
}

#testimonial .testimonial-item {
    width: 575px;
    float: left;
    margin-right: 20px;
}

#testimonial .test-text {
    background: #f1f1f1;
    margin-top: 40px;
    position: relative;
}

#testimonial .test-text::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#testimonial .test-text h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    padding-top: 15px;
}

#testimonial .test-text i {
    font-size: 12px;
    color: #5bc5f4;
}

#testimonial .test-text h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555555;
}

#testimonial .test-text p {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555555;
    line-height: 24px;
    padding: 20px;
}

#testimonial .testimonial-item:nth-child(2) {
    margin-right: 0;
}

/* =================== Footer part css Start ======================== */

#footer {
    background: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .footer-left {
    width: 585px;
    float: left;
}

#footer .footer-right {
    width: 585px;
    float: left;
}

#footer .footer-left .footer-left-one {
    width: 50%;
    float: left;
}

#footer .footer-left .footer-left-one p {
    color: #fff;
    margin-top: 5px;
    padding-right: 30px;
}

#footer .footer-left .footer-left-two {
    width: 50%;
    float: left;
}

#footer .footer-head h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 30px;
}

#footer .contact {
    color: #fff;
    position: relative;
    margin-bottom: 8px;
}


#footer .contact i {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #5bc5f4;
    text-align: center;
    border-radius: 50%;
    top: 2px;
    left: -4px;
}

#footer .contact .text {
    margin-left: 30px;
}


#footer .footer-right .footer-right-one {
    width: 40%;
    float: left;
}

#footer .footer-right .footer-right-two {
    width: 60%;
    float: left;
}

#footer .footer-right .link-one {
    width: 50%;
    float: left;
}

#link-main div ul li {
    color: white;
    padding-bottom: 15px;
}

#link-main div ul li:hover {
    color: #5bc5f4;
    cursor: pointer;
}

#footer .footer-right .link-two {
    width: 50%;
    float: left;
}

#footer .footer-right .footer-img-item{
    width: 32%;
    float: left;
    margin-right: 1%;
    margin-bottom: 2px;
}

#footer .footer-right .footer-img-item img{
    width: 100%;
}